*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    position: fixed;
    /* border-radius: 30px; */
}
/* .navbar ul{
    margin-left:30px;
} */
.navbar ul li{
    float:right;
    /* float: left; */
    width:200px;
    text-align: center;
    list-style: none;
    padding: 20px 0px;
    /* applied to the child list elements also */
}
.navbar ul li a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    /* applied to child element also */
    /* apply when width=200px off */
    /* padding: 9px 40px; */
}
.navbar ul li ul{
    display: none;
    position:absolute;
    top:58px;
  /* 20 + 20 +16 +2 and position absolute vvi */
    background-color: rgba(0, 0, 0, 0.6);
    /* right: 633.5px; */
}

.navbar ul li:hover ul{
    display: block;
}
.navbar ul li:hover{
    background-color:rgba(0, 128, 0, 0.5);
    /* applied to the child list items also */
}
/* .navbar ul li a :hover{
    background-color:green;
} */
.navbar ul li ul li{
    float:none;
    width: 200px;
}


.bar{
    width: 60px ;
    color: white;
    padding: 20px 0px;
    display: none;
    text-align: center;
}
/* .bar:hover{
    background-color:rgba(0, 128, 0, 0.5);
} */


/* ************************** horizontal slidebox **************************** */
.smallbox{
    /* margin:auto; */
    min-width: 310px;
    height:234px ;
    background-color: blueviolet;
    margin-right: 2px;
}
.slidebox{
    height: 234px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.slidebox::-webkit-scrollbar{
    -webkit-appearance: none;
}
.mainscroll{
    display: flex;
    align-items: center;    /* adjusts height of button */
}
.btn{
    color: blue;
    background-color: white;
    border: none;
    /* padding: 0px 3px; */
    /* border-radius: 50%; */
    font-size: 50px;
}
/* .slidebox::before{
    position: absolute;
    content: none;
    left: 0;
    top: 0;
    z-index: 99;
    height: 180px;
    width: 50px;
    background-image: linear-gradient(90deg, black, transparent);
} */
/* *************************************************************** */

.box{
    background-color: blue;
    width: 300px;
    height: 300px;
    margin: auto;
    /* position: relative; */
    /* align-items: center; */
    /* justify-content: center; */
}

/* ******************************* responsive ******************************** */

@media screen and (max-width:799px){
    .navbar ul li ul{
        display: none;
        position:absolute;
        top:175px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    /* .navbar ul has a class="order" */
    .order{
        display: none;
        position: fixed;
        width: 100%;
        height: auto;
        top: 56px;
        /* left: -100%; */
        background-color: rgba(0, 0, 0, 0.7);
    }
    /* .navbar ul li ul li{
        text-align: center;
    } */
    .navbar .bar{
        display: block;
    }

    /* .order:active{
        display: block;
        left: 0;
    } */
    
    .navbar ul li{
        width:100%;
        text-align: center;
        list-style: none;
        padding: 20px 0px;
        /* applied to the child list elements also */
    }
    .navbar ul li:hover ul{
        display: block;
    }
}
/* ************************ responsive ends here **************************** */
